# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env/
sql_app.db
sql_app 2.db

# IDEs
.vscode/
.idea/
.DS_Store

# Accidental copies
* 2*
* 2.xcodeproj
* 2.db
